# PRODUCTION DATABASE DIRECTION (Change for Real Direction Database)
DATABASE_URL_MSYQL = "mysql+pymysql://user:password@localhost:3306/db_name"

# DEV DATABASE DIRECTION 
DATABASE_URL_SQLITE = "sqlite:///./database.sqlite"