# PRODUCTION DATABASE DIRECTION (Change for Real Direction Database)
DATABASE_URL_MYSQL = "mysql+pymysql://user:password@localhost:3306/db_name"

# DEV DATABASE DIRECTION 
DATABASE_URL_SQLITE = "sqlite:///./database.sqlite"

# JWT CONFIGURATION
SECRET_KEY = "YOUR SECRECT KEY"
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30